.container {
  border-radius: 8px;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 20px;
  font-family: cursive;
  color: #443E60
}

button.btn {
  margin: 4px;
}

button.btn-light {
  background-color: #f8f9fa;
  border-color: #AFB7BE;
  color: #574C87;
}

footer {
  margin-top: 2em;
  /* height: 70px; */
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  color:black;
  background-color: #AFB7BE;
}